tw-expression tw-hook:nth-last-of-type(2) .loading {
 display:block;
}

tw-column tw-link span {
overflow:hidden;
opacity:0;
}



/* The typing effect */
@keyframes typing {
  from { 
  width:0
  }
  to {
  width:60%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: darkgrey; }
}